body {
  background-color: #ededed;
}
#menu {
  width: 26%;
  float: left;
  padding-top: 50px;
  box-sizing: border-box;
}
#menu span {
  display: block;
  text-align: center;
}
#tresc {
  width: 74%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
  border-left: 3px solid black;
}
