body{
    background-color: #ededed;
}
#menu{
    width: 26%;
    float: left;
    padding-top: 50px;
    box-sizing: border-box;
    span{
        display: block;
        text-align: center;
    }
}

.fixed{
    width: 50%;
    background-color: #dddddd;
    position: fixed;
    left: 0;
    padding: 10px;
}

#tresc{
    width: 74%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
    border-left: 3px solid black;
    #naglowek{
        .fixed;
        top: 0;
    }
    #stopka{
        .fixed;
        bottom: 0;
    }
}