.div {
  width: 25%;
  height: 20%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.A {
  width: 25%;
  height: 20%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 45%;
  left: 46%;
  border: 2px solid red;
  background-color: yellow;
}
.B {
  width: 25%;
  height: 20%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 55%;
  left: 54%;
  border: 2px solid blue;
  background-color: white;
}
