<%- include('partials/header.ejs') %>

    <div class="wrapper">
      <div class="communities">
        <ul>

        </ul>
      </div>
      <div class="map">
        <img src="./img/wojewodztwa.png" alt="">
        <div class="map__pointer"></div>
      </div>
      <div class="diagrams"></div>
    </div>
    
    <div class="canvas-container">
      <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    <div class="canvas-container">
      <canvas id="myChart2" width="200" height="200"></canvas>
    </div>

<%- include('partials/footer.ejs') %>
